* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

nav,
footer {
    padding: 1%;
}

nav {
    background-color: darkgray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header {
    min-height: 200px;
    padding: 12% 0;
}

h1 {
    margin-bottom: 0;
}

.hero-image {
    border: 1px gray solid;
    width: 60%;
    min-height: 175px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 6%;
}

.section {
    text-align: left;
    min-height: 200px;
    padding: 6% 5%;
    background-color: rgb(177, 174, 174);
}

h2 {
    margin-bottom: 9%;
}

.container {
    text-align: left;
    min-height: 200px;
    padding: 6% 5%;
    background-color: rgb(235, 232, 232);
}

.project-image {
    border: 1px gray solid;
    width: 100%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h3 {
    margin-left: 4%;
    margin-top: 5%; 
}

.project p {
    margin-left: 4%;
    margin-top: 4%;
}

.button {
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 4%;
    font-size: 20px;
    padding: 1.5% 3%;
}