* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Old Standard TT', serif;
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar,
footer {
    padding: 3% 4%;
    background-color: rgb(11, 0, 61);
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navbar a, .social a {
    color: white;
    text-decoration: none;
}

.name {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    border: 1px white solid;
    padding-left: 1%;
    padding-right: 1%;
}

.hamburger {
    background-color: rgb(11, 0, 61);
    border: 0;
    padding: 5px 5px;
    cursor: pointer;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.hamburger:hover {
    background-color: gold;
}

.margin {
    margin-top: 4px;
}
  
.navbar a:hover {
    color: gold;
}

.name:hover {
    border: 1px gold solid;
}

.menu {
    display: none;
}

.slider-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(11, 0, 61, 0.671),
        rgba(11, 0, 61, 0.986)
      );
    position: absolute;
    right: -100%;
    visibility: hidden;
    pointer-events: none;
    transition: .2s all linear;
    padding: 2.5% 3%;
    list-style-type: none;
}

.slider-menu a {
    font-family: 'Questrial', sans-serif;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-decoration: none;
    cursor: pointer;
}

.slider-menu a:hover {
    color: gold;
}

.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    right: 0;
}

header {
    min-height: 200px;
    padding: 12% 5%;
    margin-top: 12%;
}

h1 {
    margin-bottom: 0;
    letter-spacing: 3px;
}

.hero-image {
    width: 60%;
    max-width: 250px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

header p {
    line-height: 1.5; 
}

p {
    margin-top: 6%;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: .5px;
    text-shadow: 2px 2px 2px white;
}

.bold-text {
    color: rgb(11, 0, 61);
    font-weight: bolder;
}

.canvas {
    text-align: left;
    min-height: 200px;
    padding: 14% 8%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.342),
        rgba(255, 255, 255, 0.562)
      ),
      url('images/canvasBackgroundD.jpg');
    background-size: cover;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

h2 {
    font-family: 'Questrial', sans-serif;
    color: rgb(11, 0, 61);
    text-shadow: 1px 1px black;
    margin-bottom: 9%;
}

.container {
    text-align: left;
    min-height: 200px;
    padding: 14% 8%;
}

.project-image {
    border: 1px gray solid;
    width: 100%;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h3 {
    margin-left: 0;
    margin-top: 5%; 
    font-family: 'Questrial', sans-serif;
    font-size: 24px;
}

.project p {
    margin-left: 0;
    margin-top: 4%;
}

.technologies {
    font-style: italic;
    font-size: 22px;
}

.button {
    display: inline-block;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    background-color:  rgb(11, 0, 61);
    color: white;
    border: 2px rgb(88, 88, 88) solid;
    padding: 1.5% 3%;
    margin: 6% 5% 4% 0;
    cursor: pointer;   
}

.button:hover {
    color: gold;
    border: 2px gold solid;
}

footer ul {
    padding: 0;
}

.social {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
  
.social_icon {
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.social-links:hover {
    color: gold;
}

@media screen and (min-width: 700px) {
    .navbar,
    footer {
        padding: 2% 3%;
    }

    .hamburger {
        display: none;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
        font-family: 'Questrial', sans-serif;
    }
    
    .navbar > ul > li {
        margin-left: 30px;
        cursor: pointer;
    }
    
    .navbar > ul > li:hover {
        color: gold;
    }

    header {
        margin-top: 2%;
    }

    .hero-image {
        margin-top: 3%;
    }

    .margin-change {
        margin-top: 4%;
    }

    .canvas {
        padding-left: 12%;
        padding-right: 12%;
        line-height: 2;
    }

    .container {
        padding-left: 12%;
        padding-right: 12%;
    }
}

@media screen and (min-width: 1024px) {
    .name {
        font-size: 25px;
    }

    .navbar, footer {
        font-size: 23px;
        padding: 1.5% 3%;
    }

    .navbar > ul > li {
        margin-left: 50px;
    }

    header {
        margin-top: 0;
        padding: 9% 25%;
    }

    .hero-image {
        width: 250px;
        margin-top: 1%;
        margin-bottom: 0;
    }

    header p {
        margin-top: 0;
        padding-top: 0;
    }

    .canvas, .container {
        padding: 9% 15%;
    }

    h2 {
        font-size: 35px;
    }

    .canvas p, .container p {
        font-size: 25px;
    }

    h3 {
        font-size: 27px;
    }
}
